<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Checkup</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

    <div>
        <video src="./static/4339874-uhd_3840_2160_30fps.mp4" controls autoplay loop></video>
    </div>
    <div id="head">
        <p>COVID-19</p>
    </div>
    <form id="confirmation-form" enctype="multipart/form-data">
        <div id="box">
            <p><i>Check Up</i></p>
            <input type="file" id="file-input" accept="image/*">
        </div>
        <div id="confirmation-message"></div>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
